
 :root {
  --main-fontcolor: hsl(236, 91%, 18%);
  --main-pale:lightblue;
  --main-pale2: rgb(11, 152, 198);
}

body {
  background-color: rgb(202, 244, 202);
  margin:auto;
  text-align: center;
  justify-content: center;
}

h1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-family:'Raleway', sans-serif;
  padding: 4rem;
  padding-bottom:1rem;
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--main-fontcolor);
}

p {
  align-items: center;
  font-family:'Raleway', sans-serif;
  margin: auto;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--main-fontcolor);
}

.player {
  display: inline-block;
  align-items: center;
  justify-content: center;
  /*padding: 2rem;*/
  padding-right: 0rem;
  padding-left:0rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
  margin: auto;
  font-size: 2rem;
  width: 150px;
  height: 150px;
}

.img{
  width: 30%;
}

.btn1 {
  padding-top: 2rem;
  padding-bottom:2rem;
}
/* FROM NOW ON ONLY FOR REFERENCE. DELETE WHEN DONE.

/* 

.welcome-section {
  background-image: url("../images/welcome_bkg.png");
  opacity:1;
  background-size: cover;display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family:'Raleway';
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--main-fontcolor); 
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-img-anim {
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.welcome_anim {
  text-align: center;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.welcome_anim_h5 {
  text-align: center;
  font-family:'Raleway';
  font-size: 1rem;
  font-weight: 200;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
/* END OF WELCOME SECTION */

/* Projects section 

.project-tile {
  font-size: 1rem;
  font-weight: 200;
  color: var(--main-fontcolor);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
  background: var(--main-pale2);

}

.projects1-section {
  display: flex;
  margin: 1.8rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-pale2);
  font-size: 2rem;
  font-weight: 200;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-fontcolor);
}

/* END OF PROJECTS SECTION */

/* About Section 

.about1-tile-header {
  max-width: 640px;
  width: 100%;
  height: 100vh;
  margin: 4rem auto 3rem 6rem;
}

.about1-tile {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
  background: var(--main-pale);
}

.about1-section {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-pale);
  color: var(--main-fontcolor);
  font-size: 2rem;
  font-weight: 200;
  justify-content: center;
  align-items: center;
}

.about2-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--main-fontcolor);
  font-weight: 200;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2rem;
  margin-top:3rem;
  margin-bottom: 4rem;
  
}
.my-pic {
  margin: auto;
  border-radius: 50%;
  width: 20%;
  box-shadow: .1rem .1rem .2rem .2rem #3d3d3d;
}

/* END OF ABOUT SECTION */

/* Contact section 

.contact-section {
  display: flex;
  margin: auto;
  padding-top:6rem;
  padding-bottom:8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:var(--main-pale);
  font-size: 2rem;
  font-weight: 200;
  justify-content: center;
  color: var(--main-fontcolor);
  background: var(--main-pale2);
}

.contact1-section {
  display: flex;
  margin: 2.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-pale2);
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: var(--main-fontcolor);
}

/* On screens that are 420px wide or less, change font-size from 2rem to 1.6rem 
@media screen and (max-width: 420px){
  .contact1-section {
    font-size: 1.6rem;
  }
}

.contact2-section { 
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  margin-bottom: 1rem;
}  

.responsive1 {
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem;
  margin-bottom: 1rem;
}

.contact-links {
  display: flex;
  align-content: center;
  margin-top: 2.5rem;
}

.contact-details {
  font-size: 1rem;
  
}

.contact-details:hover {
  transform: translateY(-8px);
  color: darkslateblue;
}

.btn_anim1 {
  text-align: center;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: infinite;
  animation-fill-mode:forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.btn_anim2 {
  text-align: center;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: infinite;
  animation-fill-mode:forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.btn_anim3 {
  text-align: center;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: infinite;
  animation-fill-mode:forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.btn_anim4 {
  text-align:center;
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: infinite;
  animation-fill-mode:forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
/* END OF CONTACTS SECTION */

/* Footer 

footer {
  /*display: flex;
  text-align:center;
  justify-content: space-evenly;
  padding: 3rem;
  background: var(--main-bkg);
}

.footer_anim {
  text-align: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* END OF FOOTER SECTION */
